@model Marcucci.Models.IndexViewModel
@{
    ViewBag.Title = "Gestisci";
}

<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="aa-myaccount-login">
                                <p class="text-success">@ViewBag.StatusMessage</p>
                                <h4>Cambiare le impostazioni dell'account</h4>
                                <dl class="dl-horizontal">
                                    <dt>Password:</dt>
                                    <dd>
                                        [
                                        @if (Model.HasPassword)
                                        {
                                            @Html.ActionLink("Cambia", "ChangePassword")
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Crea", "SetPassword")
                                        }
                                        ]
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Profilo:</dt>
                                    <dd>[ @Html.ActionLink("Modifica", "SetProfile") ]</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Ordini:</dt>
                                    <dd>[ @Html.ActionLink("Vedi tutti", "Orders") ]</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
