<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dr.Plus | @ViewBag.Title</title>
    @Styles.Render("~/Content/MyStyles")

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="~/Content/scripts/jquery.min.js"></script>
    <!-- Ad intellisence for searching products-->

    <link href="~/Content/Intellisence/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/Intellisence/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Intellisence/js/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#searchTxtBox").autocomplete({
                source: '@Url.Action("GetProducts", "Product")'
            });
        });
    </script>
</head>
<body>
    <!-- wpf loader Two -->
    <div id="wpf-loader-two">
        <div class="wpf-loader-two-inner">
            <span>Loading</span>
        </div>
    </div>
    <!-- / wpf loader Two -->
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section -->
    <header id="aa-header">
        <!-- start header top  -->
        <div class="aa-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-top-area">
                            <!-- start header top left -->
                            <div class="aa-header-top-left">
                                <!-- start language -->
                                <div class="aa-language">
                                    <div class="dropdown">
                                        <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <img src="~/Content/img/flag/italy.gif" alt="english flag">ITALY
                                        </a>
                                    </div>
                                </div>
                                <!-- / language -->
                                <!-- start currency -->
                                <div class="aa-currency">
                                    <div class="dropdown">
                                        <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="fa fa-money"></i>EUR
                                        </a>
                                    </div>
                                </div>
                                <!-- / currency -->
                                <!-- start cellphone -->
                                <div class="cellphone hidden-xs">
                                    <p><span class="fa fa-phone"></span>+39 3285966911</p>
                                </div>
                                <!-- / cellphone -->
                            </div>
                            <!-- / header top left -->
                            <div class="aa-header-top-right">
                                @{
                                    Html.RenderPartial("_LoginPartial");
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header top  -->
        <!-- start header bottom  -->
        <div class="aa-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-bottom-area">
                            <!-- logo  -->
                            <div class="aa-logo">
                                <!-- Text based logo -->
                                @*<a href="@Url.Action("Index","Home")">
                                        <span class="fa fa-shopping-cart"></span>
                                        <p>Khareedo<strong>.pk</strong> <span>Your Shopping Partner</span></p>
                                    </a>*@
                                <!-- img based logo -->
                                <a href="@Url.Action("Index","Home")">
                                    <img src="~/Content/img/logo.png" height="54" alt="logo img">
                                </a>
                            </div>
                            <!-- / logo  -->
                            <!-- cart box -->
                            <div class="aa-cartbox">
                                <a class="aa-cart-link" href="#">
                                    <span class="fa fa-shopping-basket"></span>
                                    <span class="aa-cart-title">CARRELLO</span>
                                    <span class="aa-cart-notify">@(ViewBag.NoOfItem == null ? 0 : ViewBag.NoOfItem)</span>
                                </a>
                                <div class="aa-cartbox-summary">
                                    <ul>
                                        @{
                                            Html.RenderPartial("_CartBox");
                                        }
                                    </ul>
                                    <a class="aa-cartbox-checkout aa-primary-btn" href="@Url.Action("Index","CheckOut")">Checkout</a>
                                </div>
                            </div>
                            <!-- / cart box -->
                            <!-- search box -->
                            <div class="aa-search-box">
                                <form action="@Url.Action("Search","Product")" method="get">
                                    <input type="text" name="product" id="searchTxtBox" placeholder="Cerca . . . ">
                                    <button type="submit"><span class="fa fa-search"></span></button>
                                </form>
                            </div>
                            <!-- / search box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header bottom  -->
    </header>
    <!-- / header section -->
    <!-- menu -->
    <section id="menu">
        <div class="container">
            <div class="menu-area">
                <!-- Navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <!-- Left nav -->
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            @{
                                var db = new DAL.Context.ApplicationDbContext();
                                var Categories = db.Categories.ToList();
                                foreach (var nav in Categories)
                                {
                                    <li><a href="@Url.Action("GetProductsByCategory","Product", new { categoryName = nav.Name.Trim() })">@nav.Name.Trim()</a></li>
                                }
                            }

                            <li><a href="@Url.Action("About","Home")">Chi siamo</a></li>
                            <li><a href="@Url.Action("Contact","Home")">Contatti</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </section>
    <!-- / menu -->

    @RenderBody()

    <!-- Subscribe section -->
    <section id="aa-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-subscribe-area">
                        <h3>Iscriviti alla nostra newsletter</h3>
                        <p>Rimani aggiornato su tutte le nostre promozioni!</p>
                        <form action="" class="aa-subscribe-form">
                            <input type="email" name="" id="" placeholder="Inserisci la tua Email">
                            <input type="submit" value="Iscriviti">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Subscribe section -->
    <!-- footer -->
    <footer id="aa-footer">
        <!-- footer bottom -->
        <div class="aa-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-top-area">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <h3>Menu</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">Prodotti</a></li>
                                            <li><a href="#">Chi siamo</a></li>
                                            <li><a href="#">Contattaci</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Servizi</h3>
                                            <ul class="aa-footer-nav">
                                                <li><a href="#">Spedizione</a></li>
                                                <li><a href="#">Reso</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Links</h3>
                                            <ul class="aa-footer-nav">
                                                <li><a href="#">Cerca</a></li>
                                                <li><a href="#">FAQ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Contatti</h3>
                                            <address>
                                                <p>Farmacia Pagita - Corso Vittorio Veneto 54, 83040 - Andretta (AV)</p>
                                                <p><span class="fa fa-phone"></span>0827/1916186</p>
                                                <p><span class="fa fa-envelope"></span>pagitasrl@pec.it</p>
                                            </address>
                                            <div class="aa-footer-social">
                                                <a href="#"><span class="fa fa-facebook"></span></a>
                                                <a href="#"><span class="fa fa-twitter"></span></a>
                                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                                <a href="#"><span class="fa fa-youtube"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom -->
        <div class="aa-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-bottom-area">
                            <div class="aa-footer-payment">
                                <span class="fa fa-cc-mastercard"></span>
                                <span class="fa fa-cc-visa"></span>
                                <span class="fa fa-paypal"></span>
                                <span class="fa fa-cc-discover"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- / footer -->

    @Scripts.Render("~/Content/MyScripts")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#login-modal');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#login-modal').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#login-modal').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });</script>

</body>
</html>