<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dr.Plus | @ViewBag.Title</title>
    @Styles.Render("~/Content/MyStyles")

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="~/Content/scripts/jquery.min.js"></script>
    <!-- Ad intellisence for searching products-->

    <link href="~/Content/Intellisence/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/Intellisence/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Intellisence/js/jquery-ui.min.js"></script>
    <style type="text/css">
        html, body {
            height: 100%;
        }
        body {
            background-color: #05b7ae;
        }

        .page-wrap {
            min-height: 100%;
            /* equal to footer height */
            margin-bottom: -84px;
        }

            .page-wrap:after {
                content: "";
                display: block;
                height:84px;
            }

        .container {
            width: 100%;
            padding: 0;
        }

        #aa-header {
            float: none;
        }

            #aa-header .aa-header-bottom {
                background-color: #eee;
                padding: 15px 5%;
                float: none;
                display: block;
            }

                #aa-header .aa-header-bottom .aa-cartbox {
                    padding: 0;
                    display: flex;
                }

        .info {
            color: #05b7ae;
            border: 3px solid #05b7ae;
            border-radius: 3px;
            line-height: 64px;
            height: 64px;
            display: inline-block;
            font-size: 64px;
            font-family: Georgia;
            font-weight: bold;
            width: 60px;
            margin-right: 20px;
        }

        .btn-info {
            background-color: #05b7ae;
            color: white;
            height: 64px;
            line-height: 64px;
            font-size: 26px;
            border-radius: 3px;
            display: inline-block;
            width: 260px;
        }

        #aa-footer {
            width: 100%;
            height: 84px;
            line-height: 84px;
            background-color: #fff;
            padding: 0 5%;
        }

            #aa-footer .aa-footer-bottom {
                border: 0;
                float: none;
                padding: 0;
                color: #333;
                font-weight: bold;
                font-size: 22px;
            }

        .switch {
            width: 80%;
            margin: 0 auto;
            color: white;
        }

        .btn-lg {
            font-size: 40px;
            margin-top: 60px;
        }

        .form-control {
            color: #333;
        }

        .list {
            padding: 20px 0;
        }

            .list .col-md-3 {
                padding: 20px 0 0;
                font-size: 18px;
                color: #333;
                text-align: center;
                background: #fff;
                vertical-align: bottom;
                border: #05b7ae;
                border-radius: 5px;
                -moz-box-shadow: 0 1px 5px #ccc inset, 0 1px 0 #fff;
                -webkit-box-shadow: 0 1px 5px #ccc inset, 0 1px 0 #fff;
                box-shadow: 0 1px 5px #ccc inset, 0 1px 0 #fff;
                width: calc(25% - 2px);
                margin-right: 2px;
                margin-bottom: 2px;
            }

                .list .col-md-3 div {
                    vertical-align: top;
                    height: 320px;
                }

                .list .col-md-3 img {
                    width: 90%;
                }

                .list .col-md-3 .name {
                    font-weight: 700;
                    vertical-align: middle;
                    font-size: 24px;
                }

                .list .col-md-3 .description {
                    font-weight: 500;
                    vertical-align: middle;
                    font-size: 20px;
                    padding-bottom: 20px;
                }

                .list .col-md-3 .price {
                    text-align: center;
                    color: #05b7ae;
                    font-weight: 800;
                    padding: 15px 0px 8px;
                    vertical-align: bottom;
                    font-size: 40px;
                    letter-spacing: -1px;
                    width: 100%;
                    border-radius: 5px;
                    background: #ebebeb;
                    display: block;
                }
        .box {
            color: #333;
            padding: 20px;
            text-align: center;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background: #ebebeb;
            vertical-align: middle;
            -moz-box-shadow: 0 1px 5px #ccc inset, 0 1px 0 #ebebeb;
            -webkit-box-shadow: 0 1px 5px #ccc inset, 0 1px 0 #ebebeb;
            box-shadow: 0 1px 5px #ccc inset, 0 1px 0 #ebebeb;
        }
    </style>
</head>
<body>
    <div class="page-wrap">
        <header id="aa-header">
            <!-- start header bottom  -->
            <div class="aa-header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-header-bottom-area">
                                <!-- logo  -->
                                <div class="aa-logo">
                                    <!-- Text based logo -->
                                    @*<a href="@Url.Action("Index","Home")">
                                            <span class="fa fa-shopping-cart"></span>
                                            <p>Khareedo<strong>.pk</strong> <span>Your Shopping Partner</span></p>
                                        </a>*@
                                    <!-- img based logo -->
                                    <a href="@Url.Action("Index","Totem")">
                                        <img src="~/Content/img/logo.png" height="54" alt="logo img">
                                    </a>
                                </div>
                                <!-- / logo  -->
                                <!-- info box -->
                                <div class="aa-cartbox">
                                    <a href="javascript:;" onclick="showInfo();" class="info">i</a>
                                    <a href="javascript:;" onclick="showInfo();" class="btn-info">INFORMAZIONI</a>
                                </div>
                                <!-- / info box -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / header bottom  -->
        </header>
        <main role="main" class="container">
            @RenderBody()
        </main>
    </div>
    <!-- footer -->
    <footer id="aa-footer">
        <!-- footer-bottom -->
        <div class="aa-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-bottom-area">
                            <p style="margin:0;">© Dottor.plus 2018</p>
                            <div class="aa-footer-payment">
                                <img src="~/Content/img/ministero-della-salute.jpg" alt="Ministero della Salute" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- / footer -->

    @Scripts.Render("~/Content/MyScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
