@model DAL.Model.Product

@{
    ViewBag.Title = "View Details";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<!-- product category -->
<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-details-area">
                    <div class="aa-product-details-content">
                        <div class="row">
                            <!-- Modal view slider -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="aa-product-view-slider">
                                    <div id="demo-1" class="simpleLens-gallery-container">
                                        <div class="simpleLens-container">
                                            <div class="simpleLens-big-image-container"><a data-lens-image="@Model.ImageUrl" class="simpleLens-lens-image"><img src="@Model.ImageUrl" class="simpleLens-big-image"></a></div>
                                        </div>
                                        @*<div class="simpleLens-thumbnails-container">
                                            <a data-big-image="../../Content/img/view-slider/medium/polo-shirt-1.png" data-lens-image="../../Content/img/view-slider/large/polo-shirt-1.png" class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="../../Content/img/view-slider/thumbnail/polo-shirt-1.png">
                                            </a>
                                            <a data-big-image="../../Content/img/view-slider/medium/polo-shirt-3.png" data-lens-image="../../Content/img/view-slider/large/polo-shirt-3.png" class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="../../Content/img/view-slider/thumbnail/polo-shirt-3.png">
                                            </a>
                                            <a data-big-image="../../Content/img/view-slider/medium/polo-shirt-4.png" data-lens-image="../../Content/img/view-slider/large/polo-shirt-4.png" class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="../../Content/img/view-slider/thumbnail/polo-shirt-4.png">
                                            </a>
                                            
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <!-- Modal view content -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="aa-product-view-content">
                                    <h3><strong> @Model.Name</strong></h3>

                                    <div class="aa-price-block">
                                        <span class="aa-product-view-price">€ <b> @Model.Price </b></span>
                                        @if (Model.Quantity > 0)
                                        {
                                            <p class="aa-product-avilability"><span style="color:white ;background-color:green">In Stock (@Model.Quantity)</span></p>
                                        }
                                        else
                                        {
                                            <p class="aa-product-avilability"><span style="color:white;background-color:red">Out of Stock</span></p>
                                        }
                                        @{
                                            TempData["returnURL"] = Request.RawUrl;   
                                        }
                                    </div>
                                    <p>@Model.ShortDescription</p>
                                    @*<h4>Size</h4>
                                    <div class="aa-prod-view-size">
                                        <a href="#">S</a>
                                        <a href="#">M</a>
                                        <a href="#">L</a>
                                        <a href="#">XL</a>
                                    </div>
                                    <h4>Color</h4>
                                    <div class="aa-color-tag">
                                        <a href="#" class="aa-color-green"></a>
                                        <a href="#" class="aa-color-yellow"></a>
                                        <a href="#" class="aa-color-pink"></a>
                                        <a href="#" class="aa-color-black"></a>
                                        <a href="#" class="aa-color-white"></a>
                                    </div>*@
                                    <div class="aa-prod-quantity">
                                        <h4>Quantità:</h4>
                                        <form action="">
                                            <input type="number" name="quantity" min="1" max="99" maxlength="2" value="1" />                                            
                                        </form>                                       
                                    </div>
                                    <div class="aa-prod-view-bottom">
                                        @if (Model.Quantity > 0)
                                        {
                                             <a class="aa-add-to-cart-btn" href="@Url.Action("AddToCart", "Product", new { id=Model.ProductID})">Aggiungi al carrello</a>
                                        }
                                        else
                                        {
                                            <a class="aa-add-to-cart-btn">Aggiungi al carrello</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aa-product-details-bottom">
                        <ul class="nav nav-tabs" id="myTab2">
                            <li><a href="#description" data-toggle="tab">Descrizione</a></li>
                            <li><a href="#notes" data-toggle="tab">Note</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                @Html.Raw(Model.ShortDescription)
                            </div>
                            <div class="tab-pane fade " id="notes">
                                <div class="aa-product-review-area">
                                    @Html.Raw(Model.Note)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / product category -->
